<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Navigation zur Seite 2</title>
</h:head>

<h:body>
	Gehe zur <h:link value="Seite 2" outcome="/page2">
		<f:param name="x" value="1"/>
	</h:link>
	
	<h:commandButton action="#{cars.edit}">
		<f:param name="id" value="#{car.id}"/>
	</h:commandButton>

</h:body>
</html>