<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<f:view>
		<h:form>
			<p>
				<h:outputLabel value="Einelementige" />
				<h:selectOneRadio value="#{selectionSample.selectedElement}">
					<f:selectItems value="#{selectionSample.allItems}"></f:selectItems>
				</h:selectOneRadio>
			</p>
			<p>
				<h:outputLabel value="Zweielementige" />
				<h:selectManyListbox value="#{selectionSample.selectedElements}">
					<f:selectItems value="#{selectionSample.allItems}"></f:selectItems>
				</h:selectManyListbox>
			</p>
			
		</h:form>
	</f:view>
</body>
</html>