<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>

<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}
</style>
</head>
<body>
	<ul>
		<li><a href="cars.xhtml">Autos</a></li>
		<li><a href="locations.xhtml">Filialen</a></li>
		<li><a href="reservation_first.xhtml">Reservierung</a></li>
		<li><a href="#contact">Contact</a></li>
		<li style="float: right"><a class="active" href="#about">About</a></li>
	</ul>
	<f:view>
		<h:dataTable value="#{locations.locations}" var="location" border="1"
			cellspacing="5">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Name"></h:outputText>
				</f:facet>
				<h:outputText value="#{location.name}" />
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Place"></h:outputText>
				</f:facet>
				<h:outputText value="#{location.address}" />
			</h:column>



			<h:column>
				<f:facet name="header">
					<h:outputText value="Aktionen"></h:outputText>
				</f:facet>
				<h:link value="Bearbeiten" outcome="/cardetail">
					<f:param name="id" value="#{location.id}" />
				</h:link>
			</h:column>
		</h:dataTable>
	</f:view>
</body>
</html>
