<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>

<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}
div.form
{
	margin-top: 80px;
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
</style>
</head>
<body>
	<ul>
		<li><a href="cars.xhtml">Autos</a></li>
		<li><a href="locations.xhtml">Filialen</a></li>
		<li><a href="reservation_first.xhtml">Reservierung</a></li>
		<li><a href="#contact">Contact</a></li>
		<li style="float: right"><a class="active" href="#about">About</a></li>
	</ul>
	<f:view>
	<div class="form">
		<h:form id="form">

			<h:panelGrid border="1" columns="2">
				<h:outputLabel value="Von" for="from"></h:outputLabel>
				<h:inputText id="from" value="#{reservationBean.from}"></h:inputText>

				<h:outputLabel value="Bis" for="model"></h:outputLabel>
				<h:inputText id="to" value="#{reservationBean.to}"></h:inputText>

				<h:outputLabel value="Ort" for="brand"></h:outputLabel>
				<h:inputText id="location" value="#{reservationBean.locationName}"></h:inputText>

				<h:outputLabel value="Fahrzeugklasse" for="classification"></h:outputLabel>
				<h:selectManyListbox id="classification"
					value="#{reservationBean.typesToSearch}">
					<f:selectItems value="#{reservationBean.classifications}" />
				</h:selectManyListbox>

				<h:commandButton id="submit" value="Suche"
					action="#{reservationBean.search()}" />
			</h:panelGrid>
			<h:messages></h:messages>
		</h:form>
		</div>
	</f:view>
</body>
</html>
