<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>

<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}
div.form
{
	margin-top: 80px;
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
</style>
</head>
<body>
	<ul>
		<li><a href="cars.xhtml">Autos</a></li>
		<li><a href="locations.xhtml">Filialen</a></li>
		<li><a href="reservation_first.xhtml">Reservierung</a></li>
		<li><a href="#contact">Contact</a></li>
		<li style="float: right"><a class="active" href="#about">About</a></li>
	</ul>
	<f:view>
	<div class="form">

		<h:form id="form">
			<h:outputText value="Für ihre Auswahl haben wir folgenden Fahrzeuge gefunden:"></h:outputText>
			<br/>
			<h:selectOneListbox value="#{reservationBean.selected}" converter="#{carConverter}">
				<f:selectItems var="car" itemLabel="#{car.brand.concat(' ').concat(car.model).concat(' ').concat(car.price)}" itemValue="#{car}" value="#{reservationBean.matchingCars}" />
			</h:selectOneListbox>
			<br/>
			<h:commandButton id="submit" value="Fahrzeug übernehmen"
					action="#{reservationBean.showSummary()}" />
			<h:messages></h:messages>
		</h:form>
		</div>
	</f:view>
	
</body>
</html>
