<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>

<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}
div.form
{
	margin-top: 80px;
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
</style>
</head>
<body>
	<ul>
		<li><a href="cars.xhtml">Autos</a></li>
		<li><a href="locations.xhtml">Filialen</a></li>
		<li><a href="reservation_first.xhtml">Reservierung</a></li>
		<li><a href="#contact">Contact</a></li>
		<li style="float: right"><a class="active" href="#about">About</a></li>
	</ul>
	<f:view>
	<div class="form">
		<h:form id="form">
			<h:outputFormat value="Sie wollen {0} für die Zeit von {1} bis {2} reservieren für den Preis von {3}">
				<f:param value="#{reservationBean.selected.brand.concat(' ').reservationBean.selected.model}"></f:param>
				<f:param value="#{reservationBean.from}"></f:param>
				<f:param value="#{reservationBean.to}"></f:param>
				<f:param value="#{reservationBean.price}"></f:param>
			</h:outputFormat>
		</h:form>
		</div>
	</f:view>
	
</body>
</html>
