<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:metadata>
    <f:viewParam name="id" value="#{cars.selected}"
                 converter="#{carConverter}" converterMessage="Unknown car, please use a link from within the system."
                 required="true" requiredMessage="Bad request, please use a link from within the system."
    />
</f:metadata>
<f:view>
    <h:form id="form">

        <h:panelGrid border="1" columns="2" >
            <h:outputLabel value="Fabrikat" for="brand"></h:outputLabel>
            <h:inputText id="brand" value="#{cars.selected.brand}"></h:inputText>

            <h:outputLabel value="Modell" for="model"></h:outputLabel>
            <h:inputText id="model" value="#{cars.selected.model}"></h:inputText>

            <h:outputLabel value="PS" for="brand"></h:outputLabel>
            <h:inputText id="ps" value="#{cars.selected.hp}"></h:inputText>

            <h:outputLabel value="Max Kmh" for="maxKph"></h:outputLabel>
            <h:inputText id="maxKph" value="#{cars.selected.maxKpH}"></h:inputText>


            <h:outputLabel value="Fahrzeugklasse" for="classification"></h:outputLabel>
            <h:selectManyListbox id="classification" value="#{cars.selected.types}">
                <f:selectItems value="#{cars.classifications}"/>
            </h:selectManyListbox>

            <h:commandButton id="submit" value="Speichern" action="#{cars.saveChanges}" disabled="#{!cars.hasAdminPermission()}"/>
        </h:panelGrid>
    </h:form>
</f:view>
</html>
