<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<f:view>
	<h:form>
		<h:panelGrid border="1"  columns="2">
			
			<h:outputLabel value="Zahl" for="zahlEingabe" />
			<h:inputText value="#{calc.input}" id="zahlEingabe"/>
			
			<h:commandButton action="#{calc.times2}" value="Mal 2" />
			
			<h:outputFormat value="Ergebnis der Rechung: {0}">
				<f:param value="#{calc.result}"></f:param>
			</h:outputFormat>
		</h:panelGrid>
	</h:form>
</f:view>
</body>
</html>