<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Navigation zur Seite 2</title>
</h:head>

<h:body>
	<f:metadata>
		<f:viewParam name="x" converter="#{xToPointConverter}"
		 value="#{page2Bean.pointToShow}" converterMessage="Fehler beim Umwandeln"
		></f:viewParam>
	</f:metadata>
	<h:form>
	<h:outputFormat value="Der Punkt hat die Koordinate x: {0}
	und y: {1}" >
		<f:param value="#{page2Bean.pointToShow.x}"></f:param>
		<f:param value="#{page2Bean.pointToShow.y}"></f:param>
	</h:outputFormat>
	<h:commandButton action="#{page2Bean.back}" value="Back" />
	</h:form>
</h:body>
</html>