<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Insert title here</title>
	<h:outputStylesheet library="css" name="meineCss.css"></h:outputStylesheet>
</h:head>

<h:body>
	<f:view>
		<h:dataTable value="#{coordinateSystemViewBean.points}" var="point">
			<h:column>
				<f:facet name="header">X</f:facet>
				<h:outputText value="#{point.x}" />
			</h:column>
			<h:column>
				<f:facet name="header">Y</f:facet>
				<h:outputText value="#{point.y}" />
			</h:column>
		</h:dataTable>
	</f:view>
</h:body>
</html>