<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:dataTable value="#{dataAccess.cars}" var="car"
                 border="1" cellspacing="5">
        <h:column>
            <f:facet name="header">
                <h:outputText value="Fabrikat"></h:outputText>
            </f:facet>
            <h:outputText value="#{car.brand}"/>
        </h:column>

        <h:column>
            <f:facet name="header">
                <h:outputText value="Model"></h:outputText>
            </f:facet>
            <h:outputText value="#{car.model}"/>
        </h:column>

        <h:column >
            <f:facet name="header" >
                <h:outputText value="PS"></h:outputText>
            </f:facet>
            <h:outputText value="#{car.hp}"/>
        </h:column>

        <h:column>
            <f:facet name="header">
                <h:outputText value="MaxKmh"></h:outputText>
            </f:facet>
            <h:outputText value="#{car.maxKpH}"/>
        </h:column>

        <h:column>
            <f:facet name="header">
                <h:outputText value="Aktionen"></h:outputText>
            </f:facet>
            <h:link value="Bearbeiten" outcome="/cardetail">
                <f:param name="id" value="#{car.id}"/>
            </h:link>
        </h:column>
    </h:dataTable>
</f:view>
</html>
