<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<body>
	<f:view>
		<h:outputText value="Seite A"></h:outputText>
		<h:form>
			<h:selectBooleanCheckbox value="#{navigationBean.done}"></h:selectBooleanCheckbox>
		
			<h:commandButton value="Next" action="#{navigationBean.next()}"></h:commandButton>
		</h:form>
		
	</f:view>
</body>
</html>
